.pg_logging .mheight { min-height: 600px}

.pg_logging #share { display: none !important}

#Quater_bar { border-bottom: 0}

#quater_bar_line { border-bottom: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,.12)}

.background {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: -100;

    border-left: 1px solid #f5f5f5;

    background: url(../images/bg-10.jpg) repeat center center;

}

.background .filter {

    width: 100%;

    height: 100%;

    background: url(../images/black0.5_2.png) repeat 0 0;

}



.fwin .rfm th, .fwin .rfm td, .nfl .f_c .rfm th, .nfl .f_c .rfm td { padding: 10px 2px}



.fwin .rfm { width: auto}

.ie7 .fwin .rfm { float: left !important; width: 260px !important}

.ie7 .pg_logging .rfm { float: left; width: 335px}

.ie7 .pg_logging .login_ie { width: 335px !important}



.px, .pt, .ps, select { box-shadow: none; background: none}

.rfm { width: auto; margin: 0; text-align: left}

.pg_logging .rfm th, .fwin .rfm th { display: none}



.rfm .px { width: 310px !important; height: 32px; line-height: 32px; padding-left: 12px; font-size: 12px; color: #BBBBBB}

.rfm .px:focus { border-color: #E6E6E6 !important; outline: 0 !important; box-shadow: none !important}



.seccode_1 .px { width: 120px !important; height: 22px; line-height: 22px}

.comForm { border: 0; border-radius: 0; background: #FFFFFF}

.comForm .hd {

    position: relative;

	padding: 0;

    margin-bottom: 0;

	text-align: left;

	border-bottom: 0

}

.comForm .hd span {

	display: inline-block;

    font-size: 18px;

    color: #1d1d1d;

	padding: 0;

    margin: 0;

	border-bottom: 0;

	font-weight: 400;

	letter-spacing: 0;

	background: none

}

.comForm .hd em { float: right; color: #4ecdc4; font-size: 13px}

.comForm .hd em a { color: #AAAAAA}

.comForm .hd .ldPC, .comForm .hd .qrcode {

    width: 49px;

    height: 49px;

    position: absolute;

    right: 0;

    display: block;

}

.comForm .hd .qrcode { background: url(../images/qrcode.png) no-repeat}

.login_btn .pn { width: 340px; height: 50px; line-height: 50px; margin-right: 0; text-align: center; font-size: 16px; border-radius: 0; letter-spacing: 1px; font-weight: 400; background-color: #4ecdc4}

.login_btn .pn:hover { background: #4ecdc4 !important}

.login_box { float: left}

.login_now { float: left; padding-left: 92px; padding-bottom: 25px; color: #4ecdc4; font-size: 14px; text-align: left}

.login_now a { color: #c63e3e}

.login_now a:hover { text-decoration: none}

.rfm .p_tip, .rfm .p_chk { width: 260px !important}

.rfm th, .rfm td { padding: 6px 2px}

.form-control {

    height: 40px;

    padding: 3px 12px;

    background-color: #FFFFFF;

    border: 1px solid #E6E6E6;

    border-radius: 0;

    box-shadow: none

}





.login-content .intro {

    padding-top: 0;

    color: #FFFFFF;

}

.login-content .intro h1 {

	width: 130px;

	display: inline-block;

    font-size: 32px;

    line-height: 50px;

    font-weight: normal;

	padding: 5px 20px;

	font-family: Arial, Helvetica, sans-serif;

	background: url(../images/black03_3.png) repeat 0 0

}

.login-content .intro p {

	width: 280px;

	padding: 10px 20px;

	margin: 10px 0 0 0;

    font-size: 15px;

    line-height: 30px;

	background: url(../images/black03_3.png) repeat 0 0

}

.login-content .intro a {

    color: #fff;

    margin-top: 10px;

    display: inline-block;

    padding: 10px 20px;

    border-radius: 0;

	font-size: 15px;

	transition: all 0.3s ease 0s;

	background: url(../images/black03_3.png) repeat 0 0

}

.login-content .intro a:hover { padding: 10px 30px 10px 20px}





.flb { padding-top: 20px}



.rfm label { opacity: 0.5}

.rfm label:hover { opacity: 0.8}





.third-box {

    position: relative;

    border-top: 1px solid #eee;

    padding: 36px 0 30px 0;

    text-align: center;

    margin-top: 32px;

}

.third-box .tits {

    position: absolute;

    top: -12px;

    text-align: center;

    width: 100%;

}

.third-box .tits span {

    color: #8d8d8d;

    font-size: 16px;

    padding: 0 10px;

    background: #fff;

    display: inline-block;

}

.third-box a { margin: 0 25px}

.icon-modal {

    display: inline-block;

    vertical-align: top;

    background-image: url(../images/icon_login.png);

    background-size: 200px 200px;

    background-repeat: no-repeat;

    width: 45px;

    height: 45px;

}

.third-box i {

    width: 46px;

    height: 38px;

}

.icon-login-qq { width: 48px !important; height: 48px !important; background: url(../images/qq.png) no-repeat 0 0}

.icon-login-wx { width: 48px !important; height: 48px !important; background: url(../images/weixin.png) no-repeat 0 0}



.other_login a { display: none}